@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Mulish:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  font-family: "Mulish", sans-serif; }

a {
  color: white;
  text-decoration: none; }

input {
  background-color: #2e4f4f;
  border: 1px solid #2e4f4f;
  color: white;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 40px;
  width: 300px; }

#Title {
  background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)), url(https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/bg-web.jpg?raw=true);
  height: 100vh; }

#About {
  background: #568586;
  background: linear-gradient(0deg, #568586 0%, #226c6e 35%, #023c46 100%);
  height: 100vh; }

#Portfolio {
  background: #568586;
  background: linear-gradient(180deg, #568586 0%, #226c6e 35%, #023c46 100%);
  height: 120vh; }

#Contact {
  background-color: #0e8388;
  height: 45vh; }

.navbar__style {
  background-color: #2c3333;
  font-weight: 700;
  padding: 1rem 8% 1rem 8%;
  padding-bottom: 1rem;
  padding-top: 1rem; }

.navbar__brand-all {
  color: white;
  font-size: 30px;
  text-decoration: none; }

.navbar__brand-all:hover {
  color: #21aaad; }

.navbar__brand-htt, .navbar__brand-fy {
  color: #21aaad; }

.navbar__link {
  color: #c6c6c6; }

.navbar__link:hover {
  color: white; }

.navbar__item {
  margin-left: 20%; }

.title__section {
  margin-bottom: 20%;
  margin-top: 20%; }

.title__name-style {
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-shadow: 4px 2px black; }

.title__description {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 4px 2px black; }

.title__job {
  color: #38fcff; }

.title__button-style {
  margin-top: 8%;
  text-align: center; }

.title__button-1 {
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e4f4f;
  background-image: -moz-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -webkit-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -o-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -ms-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f61', endColorstr='#005f61',GradientType=0 );
  background-image: linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; }

.title__button-1:hover {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #55a6a6;
  background-image: -moz-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  background-image: -webkit-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  background-image: -o-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  background-image: -ms-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3a6', endColorstr='#00a3a6',GradientType=0 );
  background-image: linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; }

.about__pic {
  border-color: #0e8388;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.238));
  float: right;
  margin-right: 6%;
  margin-top: 30%;
  width: 300px; }

.about__right-side {
  padding-right: 0; }

.about__right-side-title {
  margin-top: 35%; }

.about__right-side-title-text {
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px black; }

.about__right-side-description {
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px black;
  width: 60%; }

.about__carousel-description {
  height: 150px; }

.about__next-icon {
  height: 10px;
  width: 10px; }

.about__line {
  width: 100%;
  border: 1px solid #fffafa; }

.about__socials {
  display: block; }

.about__linkedin {
  filter: brightness(1.7); }

.about__facebook {
  filter: brightness(1.1); }

.about__facebook, .about__linkedin {
  width: 10%; }

.about__button {
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -ms-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
  background-image: linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; }

.about__button:hover {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #bababa;
  background-image: -moz-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  background-image: -webkit-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  background-image: -ms-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
  background-image: linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; }

.about__button:active {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -ms-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
  background-image: linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; }

.portfolio__style {
  text-align: center;
  padding: 0; }

.portfolio__title-style, .portfolio__description-style {
  color: white; }

.portfolio__title-style {
  font-weight: 700;
  margin-top: 10%;
  text-shadow: 2px 2px black; }

.portfolio__description-style {
  margin-bottom: 2%; }

.portfolio__row {
  margin: auto;
  width: 80%; }

.portfolio__card-1, .portfolio__card-2, .portfolio__card-3, .portfolio__card-4, .portfolio__card-5, .portfolio__card-6 {
  background-position: center;
  background-size: cover;
  border: 0;
  display: block;
  height: 200px;
  position: relative; }

.portfolio__card-1-hover {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  text-align: center; }

.portfolio__card-1:hover .portfolio__card-1-hover, .portfolio__card-2:hover .portfolio__card-1-hover, .portfolio__card-3:hover .portfolio__card-1-hover, .portfolio__card-4:hover .portfolio__card-1-hover, .portfolio__card-5:hover .portfolio__card-1-hover, .portfolio__card-6:hover .portfolio__card-1-hover {
  opacity: 1; }

.portfolio__card-1-hover-text {
  padding: 50px 8px; }

.portfolio__card-1-hover-text-style {
  font-weight: 700;
  text-shadow: 2px 2px black; }

.portfolio__card-1 {
  background-image: url("https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/css-personal-site.png?raw=true"); }

.portfolio__card-2 {
  background-image: url("https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/dice-website.png?raw=true"); }

.portfolio__card-3 {
  background-image: url("https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/khram-academy.png?raw=true"); }

.portfolio__card-4 {
  background-image: url("https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/vermiweb.png?raw=true"); }

.portfolio__card-5 {
  background-image: url("https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/dream-maker.png?raw=true"); }

.portfolio__card-6 {
  background-image: url("https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/burgers-galore.png?raw=true"); }

.portfolio__github, .portfolio__website {
  margin-right: 10px;
  width: 10%; }

.footer__left-side {
  padding-top: 3%;
  padding-left: 20%; }

.footer__navbar-brand-2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-decoration: none; }

.footer__navbar-brand-2:hover {
  color: #21aaad; }

.footer__socials-style {
  margin-top: 5%; }

.footer__second-row-socials, .footer__copyright-style {
  margin-top: 2%; }

.footer__gmail-style, .footer__phone-style {
  width: 30px; }

.footer__email-style, .footer__number-style {
  color: white;
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 10px; }

.footer__location-style, .footer__copyright-style {
  color: white;
  font-weight: 600; }

.footer__location {
  margin-top: 5%; }

.footer__right-side {
  padding-top: 3%;
  padding-left: 5%; }

.footer__first-row-right {
  color: white;
  font-weight: 700;
  margin-bottom: 30px; }

@media (max-width: 1155px) {
  .about__right-side-description {
    font-size: 14px; } }

@media (max-width: 1024px) {
  .title__section {
    margin-top: 25%; }
  .portfolio__title-style {
    margin-top: 15%; } }

@media (max-width: 1007px) {
  .about__button {
    padding: 11px 25px; } }

@media (max-width: 991.2px) {
  .navbar__item {
    margin: 30px 0 0 0;
    text-align: right; }
  .about__left-side {
    display: none; }
  .about__right-side {
    margin: 2% auto auto auto;
    padding: 0;
    text-align: center; }
  .about__right-side-description {
    font-size: 17px;
    margin: auto;
    width: 80%; }
  .about__carousel-description {
    height: 10%; }
  #Contact {
    height: 90vh;
    padding: 50px 0; }
  .footer__left-side, .footer__right-side {
    padding: 0;
    text-align: center;
    width: 100%; }
  .footer__right-side {
    margin-top: 5%; }
  .footer__socials-style {
    margin-top: 0; }
  .footer__location {
    margin-top: 2%; } }

@media (max-width: 769px) {
  .title__section {
    margin-top: 35%; }
  .title__right-side {
    text-align: center; }
  .portfolio__title-style {
    margin-top: 20%; }
  .about__right-side-title {
    margin-top: 50%; }
  .about__right-side-description {
    width: 100%; }
  .about__button {
    padding: 11px 20px; } }

@media (max-width: 767.2px) {
  #Portfolio {
    height: 250vh; }
  #Contact {
    height: 85vh; } }

@media (max-width: 525px) {
  .about__button {
    margin-top: 3%; }
  .portfolio__title-style {
    margin-top: 25%; } }

@media (max-width: 426px) {
  .title__section {
    margin-top: 40%; }
  .about__right-side-title {
    margin-top: 55%; }
  .about__right-side-description {
    width: 100%; }
  .about__facebook, .about__linkedin {
    width: 15%; } }

@media (max-width: 376px) {
  .portfolio__title-style {
    margin-top: 30%; } }
