* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

/* NAVIGATION BAR */
.navbar-style {
  background-color: #2c3333;
  color: white;
  font-weight: 700;
  padding-top: 1rem;
  padding-right: 10rem;
}

.navbar-brand {
  font-size: 30px;
  margin-left: 8%;
}

.navbar-brand-color {
  color: #21aaad;
}

.navbar-toggler-icon{
  filter: invert();
}

.navbar-collapse-style {
  margin-left: 60%;
}

.nav-item {
  margin-right: 30px;
}

/* TITLE SECTION */
#title {
  background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)),
    url("https://github.com/imhazeltaylo/HTTIFFYPortfolio/blob/main/images/bg-web.jpg?raw=true");
  height: 100vh;
}

.title-section {
  margin-top: 17%;
  margin-bottom: 20%;
}

.name-style {
  font-family: "Bungee", cursive;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 4px 2px black;
}

.description-style {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-shadow: 1px 2px black;
  text-align: center;
  margin-top: 1%;
}

.button-style {
  text-align: center;
  margin-top: 2%;
}

.button {
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e4f4f;
  background-image: -moz-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -webkit-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -o-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -ms-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f61', endColorstr='#005f61',GradientType=0 );
  background-image: linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button:hover {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #55a6a6;
  background-image: -moz-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  background-image: -webkit-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  background-image: -o-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  background-image: -ms-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3a6', endColorstr='#00a3a6',GradientType=0 );
  background-image: linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button:active {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e4f4f;
  background-image: -moz-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -webkit-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -o-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  background-image: -ms-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f61', endColorstr='#005f61',GradientType=0 );
  background-image: linear-gradient(top, #2e4f4f 0%, #005f61 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.arrow-div-style {
  margin-top: 10%;
  text-align: center;
}

.arrow-style {
  width: 50px;
}

/* ABOUT SECTION */
#About {
  background: rgb(86, 133, 134);
  background: linear-gradient(
    0deg,
    rgba(86, 133, 134, 1) 0%,
    rgba(34, 108, 110, 1) 35%,
    rgba(2, 60, 70, 1) 100%
  );
  height: 75vh;
}

.col-lg-6 {
  padding: 0;
}

.left-side {
  width: 45%;
}

.about-pic {
  float: right;
  width: 40%;
  border-radius: 50%;
  border-color: #0e8388;
  margin-right: 10%;
  margin-top: 15%;
}

.about-me-title {
  color: white;
  font-weight: 700;
  margin-top: 16%;
}

.about-me-description {
  width: 60%;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.hr-about {
  width: 38%;
  border: 1px solid #fffafa;
}

a {
  text-decoration: none;
}

.fb-logo-style,
.twitter-logo-style,
.linkedin-logo-style {
  width: 30px;
  margin-right: 20px;
}

.twitter-logo-style,
.linkedin-logo-style {
  filter: brightness(1.7);
}

.button-2 {
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -ms-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
  background-image: linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button-2:hover {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #bababa;
  background-image: -moz-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  background-image: -webkit-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  background-image: -ms-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
  background-image: linear-gradient(top, #bababa 0%, #cfcfcf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button-2:active {
  padding: 11px 32px;
  border: solid 1px #004f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -o-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  background-image: -ms-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
  background-image: linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

/* PORTFOLIO SECTION */
.Portfolio {
  background: rgb(2, 60, 70);
  background: linear-gradient(
    0deg,
    rgba(2, 60, 70, 1) 0%,
    rgba(34, 108, 110, 1) 35%,
    rgba(86, 133, 134, 1) 100%
  );
  height: 100vh;
  text-align: center;
}

.portfolio-title-style{
  color: white;
  font-weight: 700;
}

.portfolio-sub-style{
  color: white;
  font-weight: 300;
}

.row-style{
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.card{
  background-color: #2E4F4F;
}

.card-img{
  width: 80px;
  filter: invert();
  margin: 35px auto 10px auto;
}

.html-text-style{
  color: white;
}

.html-pic-div{
  margin-top: 25px;
}

.html-pic-style{
  width: 40px;
  margin-bottom: 5%;
}

.button{
  margin: 0 auto 20px auto;
  width: 40%;
  text-decoration:none;
  text-align:center; 
  padding:11px 32px; 
  border:solid 1px #004F72; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:18px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:white; 
  background:#2c3333; 
  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
   
   }.button:hover{
  padding:11px 32px; 
  border:solid 1px #004F72; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:18px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#E5FFFF; 
  background-color:#445252; 
  background-image: -moz-linear-gradient(top, #445252 0%, #1999c4 100%); 
  background-image: -webkit-linear-gradient(top, #445252 0%, #1999c4 100%); 
  background-image: -o-linear-gradient(top, #445252 0%, #1999c4 100%); 
  background-image: -ms-linear-gradient(top, #445252 0% ,#1999c4 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1999c4', endColorstr='#1999c4',GradientType=0 ); 
  background-image: linear-gradient(top, #445252 0% ,#1999c4 100%);   
  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
   
  }

  /* FOOTER SECTION */
  footer{
    background-color: #0E8388;
    padding: 3% 20%;
  }

  .footer-left{
    display: inline-block;
  }

  .navbar-brand-2{
    color: white;
    font-weight: 700;
    font-size: 30px;
  }

  .first-row-contact{
    margin-top: 40px;
  }

  .second-row-contact{
    margin-bottom: 40px;
  }

  .navbar-brand-color-2{
    color: #7CDFDF;
    font-weight: 700;
    font-size: 30px;
  }

  .gmail-style, .phone-style{
    width: 30px;
  }

  .email-style, .number-style{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .location-style, .copyright-style{
    font-weight: 600;
    color: white;
  }

  .footer-right{
    display: inline-block;
    margin-left: 20%;
  }

  .first-row-right{
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
  }

  input{
    background-color: #2E4F4F;
    border: 1px solid #2E4F4F;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    width: 300px;
  }

  ::placeholder{
    color: white;
  }

  .textarea-box{
    height: 100px;
  }

  .submit-button{
    background-color: #33BF30;
    text-align: center;
    width: 150px;
    padding-left: 0;
  }

  /* VIEWPORTS */
@media (max-width: 1150px){
  .about-pic{
    width: 50%;
  }
}

@media (max-width: 1095px){
  .navbar-style{
    padding-right: 4rem;
  }

  .navbar-collapse{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
  }

  .name-style{
    margin-top: 25%;
  }
}

@media (max-width: 991px){
  .left-side{
    width: 50%;
  }

  .right-side{
    width: 50%;
  }

  .about-me-description{
    width: 60%;
  }

  .button{
    width: 50%;
  }
}

@media (max-width: 945px){
  .button-2{
    display: block;
    margin-top: 20px;
  }

  .about-pic{
    width: 50%;
  }

  .Portfolio{
    padding-top: 10%;
  }
}

@media (max-width: 925px){
  .about-pic{
    width: 50%;
  }
}

@media (max-width: 920px){
  .button{
    width: 60%;
  }

  footer{
    padding: 3% 15%;
  }
}

@media (max-width: 857px){
  .html-pic-style{
    width: 25px;
  }

  .about-pic{
    width: 50%;
  }
}

@media (max-width: 825px){
  .name-style{
    margin-top: 30%;
  }

  .about-pic{
    width: 50%;
  }
}

@media (max-width: 790px){
  .button{
    width: 70%;
  }

  footer{
    padding: 3% 14%;
  }

  .about-pic{
    width: 50%;
  }
}

@media (max-width: 768px){
  .Portfolio{
    height: 1300px;
  }

  .card{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}