@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Mulish:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: "Mulish", sans-serif;
    overflow-x: hidden;
  }

  a{
    color: white;
    text-decoration: none;
  }

  input{
    background-color: #2e4f4f;
    border: 1px solid #2e4f4f;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    width: 300px;
  }

  #Title{
    background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)), url(https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/bg-web.jpg?raw=true);
    height: 100vh;
  }

  #About{
    background: rgb(86, 133, 134);
    background: linear-gradient(0deg,rgba(86, 133, 134, 1) 0%,rgba(34, 108, 110, 1) 35%,rgba(2, 60, 70, 1) 100%);
    height: 100vh;
  }

  #Portfolio{
    background: rgb(86, 133, 134);
    background: linear-gradient(180deg,rgba(86, 133, 134, 1) 0%,rgba(34, 108, 110, 1) 35%,rgba(2, 60, 70, 1) 100%);
    height: 100vh;
  }

  #Contact{
    background-color: #0e8388;;
    height: 45vh;
  }

  .navbar{
    &__style{
        background-color: #2c3333;
        font-weight: 700;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    &__brand-div{
        margin-left: 8%;
        margin-right: 5%;
    }
    &__brand-all{
        color: white;
        font-size: 30px;
        text-decoration: none;
    }
    &__brand-all:hover{
        color: #21aaad;
    }
    &__brand-htt, &__brand-fy{
        color: #21aaad;
    }
    &__toggler-style{
        margin-right: 8%;
    }
    &__item{
        margin: 2% 8% 0 0;
        text-align: right;
    }
    &__link{
        color: #c6c6c6;
    }
    &__link:hover{
        color: white;
    }
  }

  .title{
    &__section{
        margin-bottom: 20%;
        margin-top: 20%;
    }
    &__name-style{
        color: white;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        text-shadow: 4px 2px black;
    }
    &__description{
        color: white;
        font-size: 30px;
        text-align: center;
        text-shadow: 4px 2px black;
    }
    &__job{
        color: #38fcff;
    }
    &__button-style{
        margin-top: 8%;
        text-align: center;
    }
    &__button-1{
        text-decoration: none;
        text-align: center;
        padding: 11px 32px;
        border: solid 1px #004f72;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font: 18px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background-color: #2e4f4f;
        background-image: -moz-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
        background-image: -webkit-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
        background-image: -o-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
        background-image: -ms-linear-gradient(top, #2e4f4f 0%, #005f61 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f61', endColorstr='#005f61',GradientType=0 );
        background-image: linear-gradient(top, #2e4f4f 0%, #005f61 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
    &__button-1:hover{
        padding: 11px 32px;
        border: solid 1px #004f72;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font: 18px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background-color: #55a6a6;
        background-image: -moz-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
        background-image: -webkit-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
        background-image: -o-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
        background-image: -ms-linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3a6', endColorstr='#00a3a6',GradientType=0 );
        background-image: linear-gradient(top, #55a6a6 0%, #00a3a6 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
  }

  .about{
    &__pic{
        border-color: #0e8388;
        border-radius: 60%;
        float: right;
        margin-right: 6%;
        margin-top: 30%;
        width: 300px;
    }
    &__right-side{
        padding-right: 0;
    }
    &__right-side-title{
        margin-top: 35%;
    }
    &__right-side-title-text{
        color: white;
        font-weight: 700;
        text-shadow: 2px 2px black;
    }
    &__right-side-description{
        color: white;
        font-size: 16px;
        text-shadow: 2px 2px black;
        width: 60%;
    }
    &__carousel-description{
        height: 150px;
    }
    &__next-icon{
        height: 10px;
        width: 10px;
    }
    &__line{
        width: 100%;
        border: 1px solid #fffafa;
    }
    &__socials{
        display:block;
    }
    &__linkedin{
        filter: brightness(1.7);
    }
    &__facebook{
        filter: brightness(1.1);
    }
    &__facebook, &__linkedin{
        width: 10%;
    }
    &__button{
        text-decoration: none;
        text-align: center;
        padding: 11px 32px;
        border: solid 1px #004f72;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font: 18px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #000000;
        background-color: #d9d9d9;
        background-image: -moz-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        background-image: -o-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        background-image: -ms-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
        background-image: linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
    &__button:hover{
        padding: 11px 32px;
        border: solid 1px #004f72;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font: 18px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #000000;
        background-color: #bababa;
        background-image: -moz-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
        background-image: -webkit-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
        background-image: -o-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
        background-image: -ms-linear-gradient(top, #bababa 0%, #cfcfcf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
        background-image: linear-gradient(top, #bababa 0%, #cfcfcf 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
    &__button:active{
        padding: 11px 32px;
        border: solid 1px #004f72;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font: 18px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #000000;
        background-color: #d9d9d9;
        background-image: -moz-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        background-image: -o-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        background-image: -ms-linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf',GradientType=0 );
        background-image: linear-gradient(top, #d9d9d9 0%, #cfcfcf 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    }
  }

  .portfolio{
    &__style{
        text-align: center;
    }
    &__title-style, &__description-style{
        color: white;
    }
    &__title-style{
        font-weight: 700;
        margin-top: 10%;
        text-shadow: 2px 2px black;
    }
    &__description-style{
        margin-bottom: 2%;
    }
    &__row{
        margin: auto;
        width: 80%;
    }
    &__card-1, &__card-2, &__card-3, &__card-4, &__card-5, &__card-6{
        background-position: center;
        background-size: cover;
        border: 0;
        display: block ;
        height: 200px;
        position: relative;
    }
    &__card-1-hover{
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
        text-align: center;
    }
    &__card-1:hover &__card-1-hover, &__card-2:hover &__card-1-hover, &__card-3:hover &__card-1-hover, &__card-4:hover &__card-1-hover, &__card-5:hover &__card-1-hover, &__card-6:hover &__card-1-hover{
        opacity: 1;
    }
    &__card-1-hover-text{
        padding: auto 8px;
    }
    &__card-1-hover-text-style{
        font-weight: 700;
        padding-top: 15%;
        text-shadow: 2px 2px black;
    }
    &__card-1{
        background-image: url('https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/css-personal-site.png?raw=true');
    }
    &__card-2{
        background-image: url('https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/dice-website.png?raw=true');
    }
    &__card-3{
        background-image: url('https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/khram-academy.png?raw=true');
    }
    &__card-4{
        background-image: url('https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/vermiweb.png?raw=true');
    }
    &__card-5{
        background-image: url('https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/dream-maker.png?raw=true');
    }
    &__card-6{
        background-image: url('https://github.com/TayloPortfolioWebsites/HTTIFFYPortfolio/blob/main/images/burgers-galore.png?raw=true');
    }
    &__github, &__website{
        margin-right: 10px;
        width: 10%;
    }
  }

  .footer{
    &__left-side{
        padding-top: 3%;
        padding-left: 20%;
    }
    &__navbar-brand-2{
        color: white;
        font-size: 50px;
        font-weight: 700;
        text-decoration: none;
    }
    &__navbar-brand-2:hover{
        color: #21aaad;
    }
    &__socials-style{
        margin-top: 5%;
    }
    &__second-row-socials, &__copyright-style{
        margin-top: 2%;
    }
    &__gmail-style, &__phone-style{
        width: 30px;
    }
    &__email-style, &__number-style{
        color: white;
        display: inline-block;
        font-weight: 400;
        margin: 0 0 0 10px;
    }
    &__location-style, &__copyright-style{
        color: white;
        font-weight: 600;
    }
    &__location{
        margin-top: 5%;
    }
    &__right-side{
        padding-top: 3%;
        padding-left: 5%;
    }
    &__first-row-right{
        color: white;
        font-weight: 700;
        margin-bottom: 30px;
    }
  }

  @media (max-width: 1155px) {
    .about{
        &__right-side-description{
            font-size: 14px;
        }
    }
  }

  @media (max-width: 1024px) {
    .title{
        &__section{
            margin-top: 25%;
        }
    }

    .portfolio{
        &__title-style{
            margin-top: 15%;
        }
    }
  }

  @media (max-width: 1007px) {
    .about{
        &__button{
            padding: 11px 25px;
        }
    }
  }

  @media (max-width: 991.20px) {
    .about{
        &__left-side{
            display: none;
        }
        &__right-side{
            margin: 2% auto auto auto;
            padding: 0;
            text-align: center;
        }
        &__right-side-description{
            font-size: 17px;
            margin: auto;
            width: 80%;
        }
        &__carousel-description{
            height: 10%;
        }
    }

    #Contact{
        height: 95vh;
    }

    .footer{
        &__left-side, &__right-side{
            padding: 0;
            text-align: center;
            width: 100%;
        }
        &__right-side{
            margin-top: 5%;
        }
        &__socials-style{
            margin-top: 0;
        }
        &__location{
            margin-top: 2%;
        }
    }
  }

  @media (max-width: 769px) {
    .title{
        &__section{
            margin-top: 35%;
        }
        &__right-side{
            text-align: center;
        }
    }

    .portfolio{
        &__title-style{
            margin-top: 20%;
        }
    }
    
    .about{
        &__right-side-description{
            width: 100%;
        }
        &__button{
            padding: 11px 20px;
        }
    }
  }

  @media (max-width: 767.20px) {
    #Portfolio{
        height: 250vh;
    }
  }

  @media (max-width: 525px) {
    .about{
        &__button{
            margin-top: 3%;
        }
    }

    .portfolio{
        &__title-style{
            margin-top: 25%;
        }
    }
  }

  @media (max-width: 426px) {
    .title{
        &__section{
            margin-top: 40%;
        }
    }

    .about{
        &__facebook, &__linkedin{
            width: 15%;
        }
    }
  }